  <form class="form-inline">
		<input type="text" class="input-small" placeholder="First Name" />
		<input type="text" class="input-small" placeholder="Email"/>
		<input type="text" class="input-small" placeholder="Phone Number"/>
		<input type="text" class="input-small" placeholder="Sex"/>
		<input type="text" class="input-small" placeholder="Country"/>
		<button type="submit" class="btn btn-primary ">Save</button>
			<button type="submit" class="btn btn-primary">Cancel</button>
    </form>