<!DOCTYPE html>
<html>
  <head>
    <title>E-Contact Application</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="all" href="../../css/extrathyme.css" th:href="@{/css/bootstrap.min.css}"/>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <div class="hero-unit">
    <h1>Welcome to E-Contact Application </h1>
    <p>This module is used to demonstrate the power of thymeleaf template engine which can be used as a complete replacement of JSP (view) in Spring MVC.</p>
    <p>
     <a class="btn btn-primary btn-large" href="http://www.thymeleaf.org/">Learn more</a>
    </p>
    </div>
   <div class="container">
 <form class="form-signin"  th:action="@{/home.html}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="Email address" />
        <input type="password" class="input-block-level" placeholder="Password" />
        <label class="checkbox">
          <input type="checkbox" value="remember-me"/> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
 </form>
  </div>
 </body>
 </html>