<!DOCTYPE html>
<html>
  <head>
    <title th:text="#{title.application}"></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="all" href="../../css/extrathyme.css" th:href="@{/css/bootstrap.min.css}"/>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <div th:substituteby="/logo" /> 	
    <div class="hero-unit">
    <h1 th:text="#{login.welcome}">Contact Manager  </h1>
    <p th:text="#{login.paragraph}">This module is used to demonstrate the power of thymeleaf template engine which can be used as a complete replacement of JSP (view) in Spring MVC.</p>
    <p>
     <a class="btn btn-primary btn-large" href="http://www.thymeleaf.org/">Learn more</a>
    </p>
    </div>
   <div class="container">
 <form class="form-signin"  th:action="@{/home}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input name="name" type="text" class="input-block-level" placeholder="Demo User" />
        <input name="password" type="password" class="input-block-level" placeholder="Demo" />
        <label class="checkbox">
          <input type="checkbox" value="remember-me"/> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
 </form>
  </div>
  <div class="hero-unit">
  <p> <a href="http://www.thymeleaf.org/ecosystem.html" > Thymeleaf Extras </a></p>
    <p> <a href="http://www.thymeleaf.org/features.html" > Thymeleaf Features </a></p>
    <p> <a href="http://www.thymeleaf.org/documentation.html" > Thymeleaf Documentation </a></p>
    <p> <a href="http://forum.thymeleaf.org/" > Thymeleaf User Forum </a></p>
  </div>
 </body>
 </html>